<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<h1 style="font-style: italic;">Your <strong><span th:text="${message}" style="color: #EB7035"></span></strong>
    service has been gathering more than 10 menus rejected by our audience.
</h1>
<br>

<h2 style="color: #EB7035">
    That service is no longer valid, and no one will ever buy anything from that again.
</h2>
<br>
<br>
<h2 style="font-weight: 100;">
    So, you have either two choices:
</h2>
<h3>
    <ul>
        <li>
            Put all your endeavours to create another service
        </li>
        <br>
        <li>
            Accept your fate and click the emoji to get a <strong style="color: #EB7035">gift</strong>
        </li>
    </ul>
</h3>
<p>
<table>
    <tr>
        <td style="padding: 12px 18px 12px 18px; border-radius: 9px" align="center">
            <a href="https://viendasya-test.herokuapp.com/supplier" target="_blank">
                <img src="cid:animated_emoji.png" alt="Logo" style="height: 300px;"/>
            </a>
        </td>
        <td style="padding: 12px 18px 12px 18px; border-radius: 9px" align="center">
            <a href="https://youtu.be/dqa5CPLlw-U?t=49" target="_blank">
                <img src="cid:sealed_emoji.png" alt="Logo" style="height: 300px;"/>
            </a>
        </td>
    </tr>
</table>
</p>

<br>
<h2 style="font-weight: 100; font-family: initial;">See ya, pal.</h2>
<br>
</body>
</html>