<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<h1 style="font-style: italic;">You are now part of Viendas Ya, <strong><span th:text="${message}" style="color: #EB7035"></span></strong>.
</h1>
<br>

<h2 style="font-weight: 100;">
    We hope you find our application quite amusing, and make your daily gluttons whims come true...
</h2>
<br>
<br>
<p>
    Feel free to enter our app and start purchasing as many menus as you want:
</p>
<p>
<table>
    <tr>
        <td bgcolor="#EB7035" style="padding: 12px 18px 12px 18px; border-radius: 9px" align="center">
            <a href="https://viendasya-test.herokuapp.com/" target="_blank"
               style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">
                Go to <span style="font-style: italic">Viendas Ya</span>
            </a>
        </td>
    </tr>
</table>
</p>

<br>
<h2 style="font-weight: 100; font-family: initial;">Thanks, and kindly regards.</h2>
<br>
</body>
</html>