<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Welcome to Viendas Ya, <strong><span th:text="${message}" style="color: #EB7035"></span></strong></h1>

<p style="font-size: 20px;">
    We hope you find our application quite amusing, and make your daily gluttons whims come true...
</p>

<p>
    Feel free to enter our app and start purchasing as many menus as you want
</p>
<p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td bgcolor="#EB7035" style="padding: 12px 18px 12px 18px; border-radius:3px" align="center">
                        <a href="https://viendasya-test.herokuapp.com/" target="_blank"
                           style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">
                            Go to Viendas Ya &rarr;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</p>

<br>
<div style="font-family: initial; padding-left: 10px;">
    <h2 style="font-weight: 100">Thanks and kindly regards,</h2>
    <h3>The ViendasYa support team.</h3>
    <img src="cid:viendasya_icon.png" alt="Logo" style="display: block; height: 50px;"/>
</div>
</body>
</html>